{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/215f3e6a22.js" crossorigin="anonymous"></script>
    <title>Documento</title>
</head>
<body>
    {% include 'section/nav.html' %}
    <section class="content" id="DocValue">
        <div class="document">
            <textarea class="document-paper" id="doc"></textarea>
        </div>
    </section>
        
    <footer></footer>

    <script type="module" src="{% static 'js/docIndex.js' %}"></script>
</body>
</html>