{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/215f3e6a22.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Documento</title>
</head>
<body>
    {% include 'section/nav.html' %}
    <section class="content"></section>
    <div class="document">
        <div class="optionList">
            <ul>
                <li>
                    <button datatype="bold" id="btnBold" class="normal">
                        <b>b</b>
                    </button>
                </li>

                <li>
                    <button datatype="underline" id="btnUnderline" class="normal">
                        <u>u</u>
                    </button>
                </li>

                <li>
                    <button datatype="italic" id="btnItalic" class="normal">
                        <i>i</i>
                    </button>
                </li>

                <li>
                    <button datatype="justifyCenter" id="btnCenter" class="normal">
                        center
                    </button>
                </li>

                <li>
                    <button datatype="justifyLeft" id="btnLeft" class="normal">
                        left
                    </button>
                </li>

                
                <li>
                    <button datatype="insertUnorderedList" id="btnUnonderedList" class="normal">
                        list
                    </button>
                </li>

                <li>
                    <input type="number" min="1" max="7" value="1" id="inputFontSize">
                    <button datatype="fontSize" id="btnFontSize" class="normal">
                        ✓
                    </button>
                </li>

                <li>
                    <button class="green" id="saveButton">Save</button>
                </li>

                <li>
                    <button class="button red" id="deleteButton">Delete</button>
                </li>

                <li>
                    <button id="btnUpload" class="button normal">Upload</button>
                </li>

                <li>
                    <button id="btnDownload" class="button normal">Download</button>
                </li>

                {% csrf_token %}


            </ul>
        </div>
        <div class="document-paper" id="doc" contenteditable=""></div>
    </div>
    </section>
        
    <footer></footer>

    <script type="module" src="{% static 'js/docIndex.js' %}"></script>
</body>
</html>