{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/215f3e6a22.js" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
    {% include 'section/nav.html' %}
    <article>
        <div id="content">

            <div id="docsContainer" class="box-container"></div>

            <div id="docsOptions" class="box-container">
                <div id="AddElementContainer" class="element">
                    <span class="element__option">
                        <a id="addElementOption">
                            <i class="fas fa-plus"></i>
                        </a>
                    </span>
                    <div class="element__title">Add element</div>
                </div>
            </div>

        </div>
    </article>
        <div>
            <div class="modal d-none" id="addDocModal">
                <div class="modal-content">
                    <h3 class="title">Add element</h3>
                    <input type="text" id="addDocTitle">
                    <button id="addDocConfirmation" class="green button">
                        Add doc
                    </button>
                    <button id="closeDocModal" class="red button">Cancel</button>
                </div>
            </div>
        </div>
    <footer></footer>

    <script type="module" src="{% static 'js/index.js' %}"></script>
</body>
</html>