{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/215f3e6a22.js" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
    {% include 'section/nav.html' %}
    <article>
        <div id="content">

            <div id="docsContainer" class="box-container"></div>

            <div id="docsOptions" class="box-container">
                <div id="AddElementContainer" class="element">
                    <span class="element__option">
                        <a id="addElementOption">
                            <i class="fas fa-plus"></i>
                        </a>
                    </span>
                    <div class="element__title">Add element</div>
                </div>
            </div>

        </div>
    </article>
        <div>
            <div class="modal d-none" id="addDocModal">
                <div class="modal-content">
                    <h3 class="title">Add element</h3>
                    <div class="input">
                        <div class="input-input">
                            <input type="text" id="addDocTitle">
                        </div>
                    
                        <div class="input-options">
                            <button id="addDocConfirmation" class="green button">
                                Add doc
                            </button>
                            <button id="closeDocModal" class="red button">Cancel</button>
                        </div>
                    </div>
                        
                    
                    
                </div>
            </div>
        </div>
    <footer>
        <button class="button red">---</button>
        <button class="button orange">---</button>
        <button class="button yellow">---</button>
        <button class="button green">---</button>
        <button class="button blue">---</button>
        <button class="button purple">---</button>
        <button class="button white">---</button>
        <button class="button black">---</button>
        <button class="button gray">---</button>
    </footer>

    <script type="module" src="{% static 'js/index.js' %}"></script>
</body>
</html>