{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/215f3e6a22.js" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
    {% include 'section/nav.html' %}
    <div id="pageAlerts">
        
    </div>
    <article>
        <id id="content">

            <div class="box">
                <h3 class="title">
                    Thanks for use my app ;)
                </h3>
            </div>
                    
        </id>
    </article>
    <footer></footer>

    <script type="module" src="{% static 'js/logout.js' %}"></script>
</body>
</html>