* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #05050a; }
  .dark * {
    color: #F0F0F0; }

body {
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
  margin: 0px;
  background-color: #f1f1f1; }
  body.dark {
    background-color: #090c0f; }

nav {
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #503080;
  height: 50px;
  padding: 5px;
  display: flex; }
  nav ul li {
    display: inline-block;
    color: #F0F0F0;
    font-weight: 900;
    margin: 2px 2px 2px 4px; }
  body.dark nav {
    background-color: #201030; }
  nav .switch-mode {
    background-color: #203040;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none; }
    nav .switch-mode::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      background: #f0f0f0;
      border-radius: 100%;
      top: 0;
      left: 0;
      right: unset;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); }
    nav .switch-mode.active {
      background: #e09020; }
      nav .switch-mode.active::after {
        right: 0;
        left: unset; }
    nav .switch-mode span {
      width: 40px;
      height: 40px;
      display: block;
      background: none;
      color: #fff; }
      nav .switch-mode span i {
        line-height: 40px; }

body:nth-child(2) {
  top: 50px; }

.box-container {
  display: flex;
  flex-wrap: wrap; }
  .box-container .element {
    margin: 30px;
    padding: 5px;
    display: inline-block;
    border: 2px solid #c0c0c0;
    border-radius: 10px;
    background-color: #e7e7e7; }
    .dark .box-container .element {
      border-color: #15151a;
      background-color: #0d1115; }
    .box-container .element .element__option {
      transition: color 0.2s ease;
      transition: background-color 0.2s ease;
      text-align: center; }
      .box-container .element .element__option a i {
        width: 115px;
        height: 115px;
        line-height: 100px;
        display: inline-block;
        font-size: 100px;
        color: rgba(96, 96, 96, 0.5); }
        .dark .box-container .element .element__option a i {
          color: rgba(192, 192, 192, 0.5); }
    .box-container .element .element__title {
      transition: color 0.2s ease;
      transition: background-color 0.2s ease;
      font-weight: 900;
      font-size: 18px;
      text-align: center; }

.box-container #AddElementContainer {
  border-color: #368e8c; }
  .box-container #AddElementContainer span a i {
    color: #368e8c; }
  .box-container #AddElementContainer .element__title {
    color: #368e8c; }
