* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #05050a; }
  .dark * {
    color: #F0F0F0; }

body {
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
  margin: 0px;
  background-color: #dadddd; }
  body.dark {
    background-color: #0a1010; }

.d-none {
  display: none; }

input[type=text], input[type=number], textarea {
  padding: 3px;
  background-color: #e2e0e3;
  color: #05050a;
  font-size: 15px; }
  .dark input[type=text], .dark input[type=number], .dark textarea {
    background-color: #323035;
    color: #F0F0F0; }

button, input[type=submit], .button {
  padding: 5px;
  font-weight: bolder;
  background-color: #F0F0F0;
  color: #05050a; }
  button.red, input[type=submit].red, .button.red {
    background-color: #e65a83;
    border-color: #e65a83;
    color: #F0F0F0; }
    button.red:hover, input[type=submit].red:hover, .button.red:hover {
      background-color: #9f1840;
      border-color: #72112e; }
  button.orange, input[type=submit].orange, .button.orange {
    background-color: #ebb871;
    border-color: #ebb871;
    color: #15151a; }
    button.orange:hover, input[type=submit].orange:hover, .button.orange:hover {
      background-color: #e49d3b;
      border-color: #eab468; }
  button.yellow, input[type=submit].yellow, .button.yellow {
    background-color: #d4d20d;
    border-color: #d4d20d;
    color: #15151a; }
    button.yellow:hover, input[type=submit].yellow:hover, .button.yellow:hover {
      background-color: #f6f470;
      border-color: #f9f8a0; }
  button.green, input[type=submit].green, .button.green {
    background-color: #62c3c1;
    border-color: #62c3c1;
    color: #F0F0F0; }
    button.green:hover, input[type=submit].green:hover, .button.green:hover {
      background-color: #368e8c;
      border-color: #44b3b0; }
  button.blue, input[type=submit].blue, .button.blue {
    background-color: #6a97e9;
    border-color: #6a97e9;
    color: #F0F0F0; }
    button.blue:hover, input[type=submit].blue:hover, .button.blue:hover {
      background-color: #3d78e2;
      border-color: #6a97e9; }
  button.purple, input[type=submit].purple, .button.purple {
    background-color: #7e53be;
    border-color: #7e53be;
    color: #F0F0F0; }
    button.purple:hover, input[type=submit].purple:hover, .button.purple:hover {
      background-color: #503080;
      border-color: #673ea5; }
  button.white, input[type=submit].white, .button.white {
    background-color: white;
    border-color: white;
    color: #05050a; }
    button.white:hover, input[type=submit].white:hover, .button.white:hover {
      background-color: #bdbdbd;
      border-color: #a4a4a4; }
  button.black, input[type=submit].black, .button.black {
    background-color: #2c2c36;
    border-color: #2c2c36;
    color: #F0F0F0; }
    button.black:hover, input[type=submit].black:hover, .button.black:hover {
      background-color: #030303;
      border-color: black; }
  button.gray, input[type=submit].gray, .button.gray {
    background-color: #6d6d6d;
    border-color: #6d6d6d;
    color: #F0F0F0; }
    button.gray:hover, input[type=submit].gray:hover, .button.gray:hover {
      background-color: #4c4c4c;
      border-color: #323232; }
  button.normal, input[type=submit].normal, .button.normal {
    background-color: #fdfdfd;
    border-color: #fdfdfd;
    color: #15151a; }
    button.normal:hover, input[type=submit].normal:hover, .button.normal:hover {
      background-color: gainsboro;
      border-color: #c2c2c2; }
    .dark button.normal, .dark input[type=submit].normal, .dark .button.normal {
      background-color: #3a373d;
      border-color: #3a373d;
      color: #F0F0F0; }
      .dark button.normal:hover, .dark input[type=submit].normal:hover, .dark .button.normal:hover {
        background-color: #1e1d20;
        border-color: #050405; }

.input .input-input {
  display: flex;
  flex-wrap: wrap; }
  .input .input-input input[type=text] {
    flex: 3;
    margin: 10px; }

.input .input-options {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 10px; }
  .input .input-options .button {
    flex: 1;
    margin: 0px 5px;
    max-width: 30vw;
    min-width: 80px; }

nav {
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
  height: 50px;
  padding: 5px;
  display: flex;
  background: linear-gradient(to top, #503080, #603a9a); }
  .dark nav {
    background: linear-gradient(to top, #201030, #2a153f); }
  nav ul li {
    display: inline-block;
    color: #F0F0F0;
    font-weight: 900;
    margin: 2px 2px 2px 4px; }
    nav ul li a:link, nav ul li a:visited {
      text-decoration: none; }
  nav .switch-mode {
    padding: 0px;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    background-color: #203040;
    color: #F0F0F0; }
    nav .switch-mode::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border-radius: 100%;
      top: 0;
      left: 0;
      right: unset;
      background: #f0f0f0;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); }
    nav .switch-mode.active {
      background: #e09020; }
      nav .switch-mode.active::after {
        right: 0;
        left: unset; }
    nav .switch-mode span {
      width: 40px;
      height: 40px;
      display: block;
      background: none;
      color: #F0F0F0; }
      nav .switch-mode span i {
        line-height: 40px; }

body:nth-child(2) {
  top: 50px; }

.box-container {
  display: flex;
  flex-wrap: wrap; }

.element {
  margin: 30px;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  background-color: #f1f1f1; }
  .dark .element {
    background-color: #1d1f1f; }
  .element .element__option {
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
    text-align: center; }
    .element .element__option a i {
      transition: color 0.2s ease;
      transition: background-color 0.2s ease;
      width: 115px;
      height: 115px;
      line-height: 100px;
      display: inline-block;
      font-size: 100px;
      color: rgba(96, 96, 96, 0.7); }
      .element .element__option a i:hover {
        color: rgba(96, 96, 96, 0.9); }
        .dark .element .element__option a i:hover {
          color: rgba(192, 192, 192, 0.9); }
      .dark .element .element__option a i {
        color: rgba(192, 192, 192, 0.5); }
  .element .element__title {
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
    font-weight: 900;
    font-size: 18px;
    text-align: center; }

.box-container #AddElementContainer {
  border-color: #368e8c; }
  .box-container #AddElementContainer span a i {
    cursor: hand;
    color: #368e8c; }
    .box-container #AddElementContainer span a i:hover {
      color: #196261; }
      .dark .box-container #AddElementContainer span a i:hover {
        color: #53bebb; }
  .box-container #AddElementContainer .element__title {
    color: #368e8c; }

.title {
  margin: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline 3px solid #201030; }

.optionList {
  margin: 0px;
  padding: 0px; }
  .optionList ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #503080; }
    .dark .optionList ul {
      background-color: #201030; }
    .optionList ul li {
      padding: 4px;
      margin: 3px;
      display: inline-block; }
      .optionList ul li button {
        font-size: 20px; }
      .optionList ul li input {
        height: 80%;
        width: 80px; }

.document {
  text-align: center; }
  .document .document-paper {
    display: inline-block;
    width: 80vw;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    background-color: rgba(240, 240, 240, 0.9); }
    .dark .document .document-paper {
      background-color: rgba(240, 240, 240, 0.15); }

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000060;
  padding: 30px; }
  .modal .modal-content {
    flex: 1;
    padding: 20px;
    border-radius: 30px;
    max-width: 700px;
    min-width: 100px;
    background-color: #F0F0F0; }
    .dark .modal .modal-content {
      background-color: #202030; }
  .modal.d-none {
    pointer-events: none;
    opacity: 0;
    display: none; }
