
.box-container {
    display: flex;
    flex-wrap: wrap;
}
.element {
    margin: 30px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;

    //-> --- COLORS ---
    background-color: $box-color;
    .dark & {
        background-color: $box-color-dark;
    }
    // -> ---

    .element__option{
        @include transitionElement();
        text-align: center;
        a{
            i{
                @include transitionElement();

                $size: 100px;

                width: $size + 15px;
                height: $size + 15px;
                line-height: $size;
                display: inline-block;
                font-size: $size;
                
                //-> --- COLORS ---
                color: transparentize($gray-color-dark, 0.3);
                &:hover {
                    color: transparentize($gray-color-dark, 0.1);
                    .dark & {
                            color: transparentize($gray-color, 0.1)
                    }
                }
                .dark &{
                    color: transparentize($gray-color, 0.5);
                    
                }
                // -> ---

            }
        }
    }

        .element__title{
            @include transitionElement();
            font-weight: 900;
            font-size: 18px;
            text-align: center;
        }
    }


.box-container {
    #AddElementContainer {
        border-color: $green-color;

        span {
            a {
                i{   
                    cursor: hand;

                    //-> --- COLORS ---
                    color: $green-color;
                    &:hover {
                        color: $green-color-dark;
                        .dark &{
                            color: lighten($green-color, 15);
                        }
                    }
                    // -> ---
                }}
        }
        .element__title {
            //-> --- COLORS ---
            color: $green-color;
            // -> ---
        }
    }

}



.title {
    margin: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;

    //-> --- COLORS ---
    text-decoration: underline  3px solid $main-color-dark;
    // -> ---
}

.optionList {
    margin: 0px;
    padding: 0px;
    ul {
        display: flex;
        flex-wrap: wrap;

        // -> --- COLORS --- 
        background-color: $purple-color;
        .dark & {
            background-color: $purple-color-dark;
        }
        // -> ---
        li{
            padding: 4px;
            margin: 3px;
            display: inline-block;
            button {
                font-size: 20px;
            }
            input {
                height: 80%;
                width: 80px;
            }
        }
    }
}

.document{
    text-align: center;
    .document-paper {
        display: inline-block;
        width: 80vw;
        margin: 30px;
        padding: 20px;
        border-radius: 20px;
        text-align: left;
        
        // -> --- COLORS ---
        background-color: transparentize($white-color, 0.1);
            .dark & {
            background-color: transparentize($white-color, 0.85);
        }
        // -> --- 
    }
}


.box{
    margin: 30px;
    padding:20px;
    border-radius: 40px;

    // -> --- COLORS ---
    background-color: $white-color;
    .dark & {        
        background-color: $gray-color-darker;
    }
    // -> --- 
}