.box-container {
    display: flex;
    flex-wrap: wrap;

    .element {
        margin: 30px;
        padding: 5px;
        display: inline-block;
        border: 2px solid $gray-color;
        border-radius: 10px;
        background-color: darken($background-color, 4);
        .dark & {
            border-color: $black-color;
            background-color: lighten($background-color-dark, 2)
        }

        .element__option{
            @include transitionElement();
            text-align: center;
            a{
                i{
                    $size: 100px;

                    width: $size + 15px;
                    height: $size + 15px;
                    line-height: $size;
                    display: inline-block;
                    font-size: $size;
                    color: transparentize($gray-color-dark, 0.5);
                    .dark &{
                        color: transparentize($gray-color, 0.5)
                    }

                }
            }
        }

        .element__title{
            @include transitionElement();
            font-weight: 900;
            font-size: 18px;
            text-align: center;
        }
    }
}

.box-container {
    #AddElementContainer {
        border-color: $green-color;
        span {
            a {i{
                    color: $green-color;
                }}
        }
        .element__title {
            color: $green-color;
        }
    }

}