nav {
    @include transitionElement();
    height: 50px;
    padding: 5px;
    display: flex;

    // -> --- COLORS --- 
    background: linear-gradient(to top, $main-color, lighten($main-color, 7));
    .dark & {
        background: linear-gradient(to top,$main-color-dark, lighten($main-color-dark, 4));
    }
    // -> --- 
    ul {
        li {
            display: inline-block;
            color: $white-color;
            font-weight: 900;
            margin: 2px 2px 2px 4px;

            a{
                &:link, &:visited{
                    text-decoration: none;
                }
            }
        }
    }

    

    .switch-mode {
        padding: 0px;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        // -> --- COLORS --- 
        background-color: #203040;
        color: $white-color;
        // -> --- 

        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            border-radius: 100%;
            top: 0;
            left: 0;
            right: unset;
            // -> --- COLORS --- 
            background: #f0f0f0;
            box-shadow: 0 0 2px 2px rgba($color: #000, $alpha: 0.2);
            // -> --- 
        }

        &.active{
            // -> --- COLORS --- 
            background: $orange-color;
            // -> --- 
            &::after {
                right: 0;
                left: unset;
            }
        }
        span {
            width: 40px;
            height: 40px;
            display: block;
            background: none;
            // -> --- COLORS --- 
            color: $white-color;
            // -> ---
            i {
                line-height: 40px;
            }
        }

    }
}

body:nth-child(2){
    top: 50px;
}