// --- VARS ---
$red-color: #ca1527;
$red-color-dark: #831421;

$orange-color: #e09020;
$orange-color-dark: #c85507;

$yellow-color: #f1ee19;
$yellow-color-dark: #eecc09;

$green-color: #368e8c;
$green-color-dark: #196261;

$blue-color: #2768df;
$blue-color-dark: #201570;

$purple-color: #503080;
$purple-color-dark: #201030;

$white-color: #F0F0F0;
$white-color-dark: #D0D0D0;

$black-color: #15151a;
$black-color-dark: #05050a;

$gray-color: #c0c0c0;
$gray-color-dark: #606060;
$gray-color-darker: #202030;

$background-color: #f1f1f1;
$background-color-dark: #090c0f;

$main-color: $purple-color;
$main-color-dark: $purple-color-dark; 

$text-color: $black-color-dark;
$text-color-dark: $white-color;

// --- MIXINS --- 
@mixin transitionElement {
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: $black-color-dark;
    .dark &{
        color: $white-color
    }
}

body {
    @include transitionElement();
    margin: 0px;
    background-color: $background-color;
    &.dark {
        background-color: $background-color-dark;
    }
}
@import "section/nav";
@import "section/content";
@import "section/footer";
@import "section/modal";
