//! --- VARS ---

//-> --- COLORS ---
$red-color: #c21d4e;
$red-color-dark: #831421;

$orange-color: #e09020;
$orange-color-dark: #c85507;

$yellow-color: #f1ee19;
$yellow-color-dark: #eecc09;

$green-color: #368e8c;
$green-color-dark: #196261;

$blue-color: #2768df;
$blue-color-dark: #201570;

$purple-color: #503080;
$purple-color-dark: #201030;

$white-color: #F0F0F0;
$white-color-dark: #D0D0D0;

$black-color: #15151a;
$black-color-dark: #05050a;

$gray-color: #c0c0c0;
$gray-color-dark: #606060;
$gray-color-darker: #202030;
// -> ---
//-> --- ESPECIFIC COLORS ---
$background-color: #f1f1f1;
$background-color-dark: #090c0f;

$main-color: $purple-color;
$main-color-dark: $purple-color-dark; 

$text-color: $black-color-dark;
$text-color-dark: $white-color;

$input-color: #e2e0e3;
$input-color-dark: #323035;
// -> ---
// !---
//! --- MIXINS --- 
@mixin transitionElement {
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}


@mixin buttonColors($background, $color, $amount-1:0, $amount-2:0, $dif:10){
    @if ($amount-1 >= 0) {
        background-color: lighten($background, $amount-1);
        border-color: lighten($background, $amount-1);
    }
    @if ($amount-1 < 0) {
        background-color: darken($background, $amount-1 * -1);
        border-color: darken($background, ($amount-1 * -1));
    }

    color: $color;
    &:hover {
        
        @if ($amount-2 >= 0) {
            background-color: lighten($background, $amount-2);
            border-color: lighten($background, $amount-2 + $dif);
        }
        @if ($amount-2 < 0) {
            background-color: darken($background, $amount-2 * -1);
            border-color: darken($background, ($amount-2 * -1) + $dif);
        }
    }
}
// !---


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    //-> --- COLORS ---
    color: $black-color-dark;
    .dark &{
        color: $white-color
    }
    // -> ---
}


body {
    @include transitionElement();
    margin: 0px;

    //-> --- COLORS ---
    background-color: $background-color;
    &.dark {
        background-color: $background-color-dark;
    }
    // -> ---
}

@import "section/forms";
@import "section/nav";
@import "section/content";
@import "section/footer";
@import "section/modal";
