//! --- VARS ---

//-> --- COLORS ---
$red-color: hsl(342, 75%, 45%);
$red-color-dark: hsl(353, 90%, 30%);

$orange-color: hsl(35, 76%, 50%);
$orange-color-dark: hsl(24, 93%, 41%);

$yellow-color: hsl(59, 89%, 52%);
$yellow-color-dark: hsl(45, 93%, 48%);

$green-color: hsl(160, 75%, 38%);
$green-color-dark: hsl(180, 60%, 30%);

$blue-color: hsl(219, 74%, 51%);
$blue-color-dark: hsl(247, 68%, 40%);

$purple-color: hsl(264, 45%, 35%);
$purple-color-dark: hsl(270, 50%, 13%);

$white-color: hsl(0, 0%, 95%);
$white-color-dark: hsl(0, 0%, 80%);

$black-color: hsl(240, 11%, 10%);
$black-color-dark: hsl(240, 50%, 3%);

$gray-color: hsl(240, 5%, 60%);
$gray-color-dark: hsl(220, 10%, 40%);
$gray-color-darker: hsl(250, 10%, 20%);
// -> ---
//-> --- SPECIFIC COLORS ---
$background-color: hsl(200, 5%, 85%);
$background-color-dark: hsl(180, 25%, 5%);

$box-color: hsl(240, 5%, 80%);
$box-color-dark: hsl(180, 3%, 12%);

$main-color: $purple-color;
$main-color-dark: $purple-color-dark; 

$text-color: $black-color-dark;
$text-color-dark: $white-color;

$input-color: hsl(280, 5%, 88%);
$input-color-dark: hsl(264, 5%, 20%);
// -> ---
// !---
//! --- MIXINS --- 
@mixin transitionElement {
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}


@mixin buttonColors($background, $color, $amount-1:0, $amount-2:0, $dif:10){
    @if ($amount-1 >= 0) {
        background-color: lighten($background, $amount-1);
        border-color: lighten($background, $amount-1);
    }
    @if ($amount-1 < 0) {
        background-color: darken($background, $amount-1 * -1);
        border-color: darken($background, ($amount-1 * -1));
    }

    color: $color;
    &:hover {
        
        @if ($amount-2 >= 0) {
            background-color: lighten($background, $amount-2);
            border-color: lighten($background, $amount-2 + $dif);
        }
        @if ($amount-2 < 0) {
            background-color: darken($background, $amount-2 * -1);
            border-color: darken($background, ($amount-2 * -1) + $dif);
        }
    }
}


// !---


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    //-> --- COLORS ---
    color: $black-color-dark;
    .dark &{
        color: $white-color
    }
    // -> ---
}


body {
    @include transitionElement();
    margin: 0px;

    //-> --- COLORS ---
    background-color: $background-color;
    &.dark {
        background-color: $background-color-dark;
    }
    // -> ---
}


@keyframes spinner {
    to{
        transform: rotate(360deg)
    }
}

@import "section/forms";
@import "section/index";
@import "section/nav";
@import "section/content";
@import "section/footer";
@import "section/modal";
