<nav>

    <ul>
        <li>
            <a href="{% url 'index' %}">MYMD</a>
        </li>

        {% block navcontent %}
        
        {% endblock %}
        <li class="switch">
            <button class="switch-mode" id="switch-mode">
                <span><i class="fas fa-sun"></i></span>
                <span><i class="fas fa-moon"></i></span>
            </button>
        </li>

        <li>
            {% if login %}
            <p>
                {{username}}
            </p>
            
            <a href="{% url 'logout' %}">
                <button class="button red" id="logoutbtn">LOGOUT</button>
            </a>
            {% endif %}
            {% if not login %}
            <a href="{% url 'login' %}">
                <button class="button blue">LOGIN</button>
            </a>
            {% endif %}
        </li>
    </ul>

</nav>
